<form name="editForm" role="form" novalidate (ngSubmit)="onWorkingCopyBtnClick()" #editForm="ngForm">

    <div>
        <h2>
            <!--Dodaj/Edytuj Zlecenie-->
            Zapytanie ofertowe: <strong>{{order.internalNumber}}</strong>
        </h2>
        <br/>
        <fieldset>
            <div class="row">

                <div class="col-md-8">
                    <div class="card bg-light ">

                        <div class="card-body">
                            <h5 class="card-title">Dane zapytania</h5>

                            <div class="row">
                                <div class="col-md-4">
                                    <div>Numer klienta: <strong>{{order.referenceNumber}}</strong></div>
                                    <div> Klient: <strong>{{order.clientShortcut}}</strong></div>

                                </div>

                                <div class="col-md-4">
                                    <div>Utworzył: <strong>{{order.createdByName}}</strong></div>
                                    <div>Data utworz.: <strong>{{order.createdAt|date:"dd-MM-yyyy"}} <span
                                        class="fa fa-clock-o"></span> {{order.createdAt|date:"HH:mm"}}</strong></div>

                                </div>
                                <div class="col-md-4">
                                    <div> Status: <strong jhiTranslate="{{'tnApp.OrderStatus.' + order.orderStatus}}">{{order.orderStatus}}</strong>
                                    </div>
                                    <div> Uwagi: <strong>{{order.description}}</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-light ">
                        <div class="card-body">
                            <h5 class="card-title">Dane oferty</h5>
                            <div>Utworzył: <strong>{{order.estimationMakerName}}</strong></div>
                            <div>&nbsp;<!--Data utworz.: <strong>{{order.createdAt|date:"dd-MM-yyyy"}} <span
                                class="fa fa-clock-o"></span> {{order.createdAt|date:"HH:mm"}}</strong>--></div>
                        </div>
                    </div>
                </div>


            </div>
            <br/>
            <br/>

            <ngb-tabset>
                <ngb-tab title="Pozycje wyceny" id="1">
                    <ng-template ngbTabContent>
                        <div class="row">

                            <div class="col-md-12">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>LP</th>
                                        <th>Nazwa</th>
                                        <th>Nr rys.</th>
                                        <th>Ilość</th>
                                        <th>Jedn</th>
                                        <th>MPK/Index</th>
                                        <th style="width: 180px">Prop. data realiz.</th>
                                        <th>Pliki</th>
                                        <th>Cena/Szt</th>
                                        <th>Termin wyk.</th>
                                        <th>Uwagi</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr *ngFor="let estimation of order.estimations;let rowIndex = index">
                                        <td>{{rowIndex+1}}</td>
                                        <td>{{estimation.itemName}}</td>
                                        <td style="max-width: 150px;">
                                            {{estimation.itemNumber}}
                                        </td>
                                        <td style="max-width: 80px">{{estimation.amount}}</td>
                                        <td> SZT</td>
                                        <td>{{estimation.mpk}}</td>
                                        <td style="max-width: 150px">
                                            {{convertToDate(estimation.neededRealizationDate)|date:'dd-MM-yyyy'}}
                                        </td>
                                        <td style="width: 100px">


                                            <!--</ss-multiselect-dropdown>-->
                                            <button class="btn btn-outline-dark" type="button"
                                                    (click)="openModal(content,rowIndex)">
                                                <strong *ngIf="estimation.drawing">{{estimation.drawing.attachments.length}}</strong>
                                                <strong *ngIf="!estimation.drawing">0</strong>
                                                <i class="fa fa-paperclip"></i>
                                            </button>

                                        </td>
                                        <td>{{estimation.estimatedCost|currency:'PLN'}}</td>
                                        <td>{{estimation.estimatedRealizationDate|date:'dd-MM-yyyy'}}</td>
                                        <td class="right">


                                            <tn-estimation-remark [estimationRemarks]="estimation.estimationRemarks"
                                                                  *ngIf="estimation.estimationRemarks!=null && estimation.estimationRemarks.length>0"></tn-estimation-remark>
                                        </td>
                                    </tr>


                                    </tbody>

                                </table>
                            </div>


                        </div>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </fieldset>

        <div class="text-center">

            <button type="button" class="btn btn-outline-danger" (click)="previousState()"><span class="fa fa-arrow-left"></span> Powrót</button>
            <button *ngIf="isProductionCreateBtnDisabled()" type="button" class="btn btn-outline-primary"
                    [routerLink]="['/new-purchase-order',{'inquiryId':order.id}]">
                Utwórz zamówienie
            </button>


        </div>
    </div>

</form>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Załączniki</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tn-file-uploader (notify)="onFileArrayChange($event);"
                          [attachments]="order.estimations[clickedRow].drawing.attachments"
                          [isViewOnly]="true"></tn-file-uploader>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>


