<form name="editForm" role="form" novalidate  #editForm="ngForm">

    <div>
        <h2>
            <!--Dodaj/Edytuj Zlecenie-->

            {{title}}

        </h2>
        <fieldset>
            <div class="row">
                <div class="col-lg-2">
                    <label for="internal_number_field">Nr Wewn.</label>
                    <input type="text" id="internal_number_field" name="internal_number" class="form-control" [(ngModel)]="order.internalNumber"
                           disabled/>
                </div>
                <div class="col-lg-2">
                    <label for="title_external_number_field">Nr. ref</label>
                    <input type="text" id="title_external_number_field" class="form-control" name="referenceNumber"
                           [(ngModel)]="order.referenceNumber"/>
                </div>
                <div class="col-lg-2">
                    <label for="title_field">Tytuł</label>
                    <input type="text" id="title_field" class="form-control" name="title" [(ngModel)]="order.name"/>
                </div>

                <div class="form-group col-lg-2">
                    <label for="field_client">Klient</label>
                    <input type="text" id="field_client" class="form-control" name="client"
                           [(ngModel)]="order.clientShortcut" disabled/>

                </div>
                <div class="col-lg-2">
                    <label for="description_field">Opis dod.</label>
                    <input type="text" id="description_field" name="description" [(ngModel)]="order.description"
                           class="form-control"/>
                </div>
                <div class="col-lg-2">
                    <label for="field_deliveryAddress">Adres dostawy</label>

                    <textarea class="form-control" id="field_deliveryAddress" autosize="" rows="1" [(ngModel)]="order.deliveryAddress"
                              name="deliveryAddress"  #deliveryAddress_input="ngModel" maxlength="1024"></textarea>
                </div>
            </div>
            <br/>


            <ngb-tabset>
                <ngb-tab title="Pozycje wyceny" id="1">
                    <ng-template ngbTabContent>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>LP</th>
                                <th style="min-width: 350px">Nazwa</th>
                                <th style="min-width: 150px;">Nr rys.</th>
                                <th style="min-width: 100px">Ilość</th>
                                <th>Jedn.</th>
                                <th>MPK/Index</th>
                                <th style="width: 120px">Termin realizacji:</th>
                                <th class="text-right">Cena/szt</th>
                                <th class="text-right">Wartość</th>
                                <th>Pliki</th>
                                <th style="min-width: 200px;">Uwagi</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let estimation of order.estimations;let rowIndex = index">
                                <td>{{rowIndex+1}}</td>
                                <!--<td><input type="text" [(ngModel)]="estimation.id" class="form-control"/></td>-->
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="estimation.itemName"

                                           name="estimation_itemName_{{rowIndex}}" required [disabled]="isReadOnly" #itemNameInput="ngModel">
                                    <div
                                        [hidden]="!(itemNameInput?.dirty && itemNameInput?.invalid)">
                                        <small class="form-text text-danger"
                                               [hidden]="!itemNameInput?.errors?.required"
                                               jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </td>
                                <td style="max-width: 150px;">
                                    <input type="text" class="form-control" name="estimation_itemNumber_{{rowIndex}}"
                                           [(ngModel)]="estimation.itemNumber" [disabled]="!order.canEditAsAdmin"/>
                                </td>
                                <td style="max-width: 80px">
                                    <input type="number" class="form-control" [(ngModel)]="estimation.amount"
                                           name="estimation_amount_{{rowIndex}}" required #amountInput="ngModel"/>
                                    <div
                                        [hidden]="!(amountInput?.dirty && amountInput?.invalid)">
                                        <small class="form-text text-danger"
                                               [hidden]="!amountInput?.errors?.required"
                                               jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </td>
                                <td> SZT</td>
                                <td style="width: 170px"><input type="text" class="form-control" [(ngModel)]="estimation.mpk" name="estimation_mpk_{{rowIndex}}"></td>

                                <td >
                                    {{estimation.estimatedRealizationDate}}

                                </td>
                                <td class="text-right">{{estimation.estimatedCost|currency:'PLN'}}</td>
                                <td class="text-right">{{estimation.estimatedCost*estimation.amount|currency:'PLN'}}</td>
                                <td style="width: 100px">

                                    <button class="btn btn-outline-dark" type="button" (click)="openModal(content,rowIndex)">
                                        <strong *ngIf="estimation.drawing">{{estimation.drawing.attachments.length}}</strong>
                                        <strong *ngIf="!estimation.drawing">0</strong>

                                        <i class="fa fa-paperclip"></i>
                                    </button>

                                </td>
                                <td><textarea class="form-control text-area" rows="1" [(ngModel)]="estimation.remark" name="estimation_remarks_{{rowIndex}}" autosize=""></textarea></td>

                                <td>
                                    <button type="button" class="btn btn-outline-dark" (click)="onDeleteRow(rowIndex);">x</button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">Suma:</td>
                                <td class="text-right">{{calculateTotalValue()|currency:'PLN'}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            </tbody>

                        </table>

                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </fieldset>

        <div class="text-center">


            <button type="button" class="btn btn-outline-danger" (click)="previousState()"><span class="fa fa-arrow-left"></span> Powrót</button>

            <button type="button" class="btn btn-outline-primary" (click)="sendToProduction();" *ngIf="order.canEdit"><!--order.orderStatus =='WORKING_COPY' || order.orderStatus==null-->
                <span class="fa fa-play"></span> Wyślij do realizacji
            </button>

            <button type="button" class="btn btn-outline-primary" (click)="saveAsAdmin();" *ngIf="order.canEditAsAdmin"
                    [disabled]="editForm.form.invalid || isSaving  || order.estimations.length===0"> <!--|| !isDrawingUpload-->
                <span class="fa fa-save"></span> Zapisz zmiany jako admin
            </button>
        </div>
    </div>

</form>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Załączniki</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tn-file-uploader (notify)="onFileArrayChange($event);"
                          [attachments]="order.estimations[clickedRow].drawing.attachments"
                          [isViewOnly]="isReadOnly"></tn-file-uploader>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
<!--<p-chips [(ngModel)]="myValues">test</p-chips>-->
