<form name="editForm" role="form" novalidate  #editForm="ngForm">

    <div>
        <h2>
            <!--Dodaj/Edytuj Zlecenie-->

            {{title}}

        </h2>
        <fieldset>
            <div class="row">
                <div class="col-lg-2">
                    <label for="internal_number_field">Nr Wewn.</label>
                    <input type="text" id="internal_number_field" name="internal_number" class="form-control"
                           [(ngModel)]="order.internalNumber" disabled/>
                </div>
                <div class="col-lg-2">
                    <label for="title_external_number_field">Nr. ref</label>
                    <input type="text" id="title_external_number_field" class="form-control" name="referenceNumber"
                           [(ngModel)]="order.referenceNumber" [disabled]="isReadOnly" required/>
                    <div [hidden]="!(editForm.controls.referenceNumber?.dirty && editForm.controls.referenceNumber?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.referenceNumber?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label for="title_field">Tytuł</label>
                    <input type="text" id="title_field" class="form-control" name="name" [(ngModel)]="order.name" [disabled]="isReadOnly"/>

                </div>


                <div class="form-group col-lg-2">
                    <label for="field_client">Klient</label>
                    <select class="form-control" id="field_client" name="client" [(ngModel)]="order.clientId" required [disabled]="isReadOnly">
                        <!--<option [ngValue]="null"></option>-->
                        <option [ngValue]="clientOption.id"
                                *ngFor="let clientOption of clients; trackBy: trackClientById">
                            {{clientOption.shortcut}}
                        </option>
                    </select>
                    <div [hidden]="!(editForm.controls.client?.dirty && editForm.controls.client?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.client?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label for="description_field">Uwagi</label>
                    <input type="text" id="description_field" name="description" [(ngModel)]="order.description"
                           class="form-control" [disabled]="isReadOnly"/>
                </div>
                <div class="col-lg-2">
                    <label for="field_deliveryAddress">Adres dostawy</label>

                    <textarea class="form-control" id="field_deliveryAddress" autosize="" rows="1" [(ngModel)]="order.deliveryAddress"
                              name="deliveryAddress"  #deliveryAddress_input="ngModel" maxlength="1024"></textarea>
                </div>

            </div>
            <br/>


            <ngb-tabset>
                <ngb-tab title="Pozycje wyceny" id="1">
                    <ng-template ngbTabContent>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 50px">LP</th>
                                <th>Nazwa:</th>
                                <th>Nr rys:</th>
                                <th>Ilość:</th>
                                <th>Jedn:</th>
                                <th>MPK/Index</th>
                                <th style="width: 180px">Proponowana data realizacji:</th>
                                <th>Pliki:</th>
                                <th>Uwagi:</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr *ngFor="let estimation of order.estimations;let rowIndex = index">
                                <td style="width: 50px">{{rowIndex+1}}</td>
                                <!--<td><input type="text" [(ngModel)]="estimation.id" class="form-control"/></td>-->
                                <td>
                                    <input type="text" class="form-control" [(ngModel)]="estimation.itemName"

                                           name="estimation_itemName_{{rowIndex}}" required [disabled]="isReadOnly" #itemName="ngModel">
                                    <div
                                        [hidden]="!(itemName?.dirty && itemName.invalid)">
                                        <small class="form-text text-danger"
                                               [hidden]="!itemName?.errors?.required"
                                               jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </td>
                                <td style="max-width: 150px;">
                                    <input type="text" class="form-control" name="estimation_drawing_{{rowIndex}}"
                                           [(ngModel)]="estimation.itemNumber" [disabled]="isReadOnly" required #itemNumber="ngModel"/>
                                    <div
                                        [hidden]="!(itemNumber?.dirty && itemNumber.invalid)">
                                        <small class="form-text text-danger"
                                               [hidden]="!itemNumber?.errors?.required"
                                               jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </td>
                                <td style="max-width: 80px">
                                    <input type="number" class="form-control" [(ngModel)]="estimation.amount"
                                           name="estimation_amount_{{rowIndex}}" required [disabled]="isReadOnly" #amount="ngModel"/>
                                    <div
                                        [hidden]="!(amount?.dirty && amount?.invalid)">
                                        <small class="form-text text-danger"
                                               [hidden]="!amount.errors?.required"
                                               jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </td>
                                <td style="width: 80px"><input type="text" class="form-control" disabled value="SZT"></td>
                                <td style="width: 170px"><input type="text" class="form-control" [(ngModel)]="estimation.mpk" name="estimation_mpk_{{rowIndex}}"></td>
                                <td style="max-width: 150px">
                                    <div class="form-group">
                                        <!--<label class="form-control-label" jhiTranslate="tnApp.order.closeDate" for="field_closeDate">Close Date</label>-->
                                        <div class="input-group">
                                            <input id="field_closeDate" type="text" class="form-control"
                                                   name="estimation_realization_date_{{rowIndex}}"
                                                   ngbDatepicker #realizationDateDp="ngbDatepicker"
                                                   [(ngModel)]="estimation.neededRealizationDate" [disabled]="isReadOnly" required #neededRealisationDate="ngModel"/>
                                            <span class="input-group-btn">
                                             <button type="button" class="btn btn-default" (click)="realizationDateDp.toggle()" (keyup)="realizationDateDp.toggle()"
                                                     [disabled]="isReadOnly"><i class="fa fa-calendar"></i></button>
                                             </span>
                                        </div>
                                        <div
                                            [hidden]="!(neededRealisationDate?.dirty && neededRealisationDate?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!neededRealisationDate?.errors?.required"
                                                   jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 80px">

                                    <button class="btn " type="button" (click)="openModal(content,rowIndex)"
                                            [ngClass]="{'btn-outline-danger':!checkIfAttachmentExist(estimation),'btn-outline-dark': checkIfAttachmentExist(estimation)}"
                                            ngbTooltip="Załączenie rysunku jest wymagane">
                                        <strong *ngIf="!estimation.drawing">0</strong>
                                        <strong *ngIf="estimation.drawing">{{estimation.drawing.attachments.length}}</strong>
                                        <i class="fa fa-paperclip"></i>
                                    </button>

                                </td>
                                <td style="width: 200px">

                                    <textarea class="form-control text-area" rows="1" [(ngModel)]="estimation.remark" name="estimation_remarks_{{rowIndex}}"></textarea>
                                </td>
                                <td style="width:130px;">
                                    <tn-estimation-remark [estimationRemarks]="estimation.estimationRemarks"
                                                          *ngIf="estimation.estimationRemarks!=null && estimation.estimationRemarks.length>0"></tn-estimation-remark>
                                    <button type="button" class="btn btn-outline-dark" (click)="onDeleteRow(rowIndex);" [disabled]="isReadOnly"><span class="fa fa-remove"></span>
                                    </button>
                                </td>
                            </tr>


                            </tbody>

                        </table>


                        <button type="button" class="btn btn-outline-dark" (click)="addEstimation();" [disabled]="isReadOnly">Dodaj pozycję</button>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </fieldset>

        <div class="text-center">

            <button class="btn btn-outline-primary " type="submit" [disabled]="editForm.form.invalid || isSaving|| !isDrawingUpload || order.estimations.length===0"
                    *ngIf="order.orderStatus =='WORKING_COPY' || order.orderStatus==null" (click)="onWorkingCopyBtnClick();">
                <span class="fa fa-save"></span>&nbsp;Kopia robocza
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="previousState()"><span class="fa fa-arrow-left"></span> Powrót</button>

            <button class="btn btn-outline-primary" (click)="sendToEstimation();" *ngIf="order.canEdit" type="button"
                    [disabled]="editForm.form.invalid || isSaving || !isDrawingUpload || order.estimations.length===0">
                <span class="fa fa-play"></span> Wyślij do wyceny
            </button>
            <button class="btn btn-outline-primary" (click)="saveAsAdmin();" *ngIf="order.canEditAsAdmin" type="button"
                    [disabled]="editForm.form.invalid || isSaving || !isDrawingUpload || order.estimations.length===0">
                <span class="fa fa-save"></span> Zapisz zmiany jako admin
            </button>
        </div>
    </div>

</form>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Załączniki</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tn-file-uploader (notify)="onFileArrayChange($event);"
                          [attachments]="order.estimations[clickedRow].drawing.attachments" [isViewOnly]="isReadOnly"></tn-file-uploader>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
