<div style="margin-top: 10px;">


    <div class="row">
        <div class="col-md-12 ">

            <table class="table table-striped" style="margin-bottom: 40px">
                <thead>
                <tr>
                    <th>LP</th>
                    <th>Nazwa</th>
                    <!--<th>typ</th>-->
                    <th>Data dodania</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let attachment of attachments; let idx=index">
                    <td>{{idx+1}}</td>
                    <td style="max-width: 300px"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;<strong>{{attachment.name}}</strong>
                    </td>
                    <!--<td>{{attachment.dataContentType}}</td>-->
                    <td>{{attachment.uploadDate|date:'dd-MM-yyyy HH:mm'}}</td>
                    <td>
                        <span *ngIf="!isViewOnly">
                        <button class="btn  btn-outline-danger" type="button" (click)="onDeleteItem(idx,attachment)">
                            <i
                                class="fa fa-remove"></i> Usuń
                        </button>&nbsp;</span>
                        <button class="btn  btn-outline-dark" type="button"
                                (click)="onDownloadAttachment(attachment)"><i
                            class="fa fa-save"></i> Pobierz
                        </button>
                    </td>
                </tr>
                </tbody>

            </table>

        </div>

    </div>
    <!--<div class="col-md-4">-->
    <div class="row" *ngIf="!isViewOnly">
        <div class="col-md-12">


            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="well my-drop-zone"
                 (click)=fileInput.click()>
                Upuść pliki tutaj

            </div>
            <input type="file" #fileInput ng2FileSelect [uploader]="uploader" multiple
                   style="display: none"/>


            <br/>

        </div>
    </div>

    <div class="row" *ngIf="uploader.isUploading">
        <div class="col-md-12" style="margin-bottom: 40px;margin-top: 30px">
            <table class="table">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Rozmiar</th>
                    <th>Postęp</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td>{{ item?.file?.size/1024/1024 | number:'.2' }}&nbsp;MB</td>

                    <!--<td *ngIf="uploader.isHTML5">-->
                    <td>
                        <div class="progress" style="margin-bottom: 0;min-width:70px;">
                            <div class="progress-bar" role="progressbar"
                                 [ngStyle]="{ 'width': item.progress + '%' }"> {{item.progress}}%
                            </div>
                        </div>
                    </td>

                    <td>

                        <button type="button" class="btn btn-warning btn-sm"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Anuluj
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>

            <div>

            </div>

        </div>
    </div>
</div>
<div *ngIf="errorMessage!==''" class="alert alert-danger">{{errorMessage}}</div>
<!--</div>-->
</div>
