<div>
    <h2>
        <span jhiTranslate="tnApp.cooperation.home.title">Cooperation</span>
        <button class="btn btn-primary float-right jh-create-entity create-cooperation" [routerLink]="['/', { outlets: { popup: ['cooperation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tnApp.cooperation.home.createLabel">
            Create new Cooperation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tnApp.cooperation.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cooperation">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="tnApp.cooperation.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="counterparty"><span jhiTranslate="tnApp.cooperation.counterparty">Counterparty</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="tnApp.cooperation.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="tnApp.cooperation.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estimationId"><span jhiTranslate="tnApp.cooperation.estimation">Estimation</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cooperation of cooperation ;trackBy: trackId">
                <td><a [routerLink]="['../cooperation', cooperation.id ]">{{cooperation.id}}</a></td>
                <td>{{cooperation.name}}</td>
                <td>{{cooperation.counterparty}}</td>
                <td>{{cooperation.amount}}</td>
                <td>{{cooperation.price}}</td>
                <td>
                    <div *ngIf="cooperation.estimationId">
                        <a [routerLink]="['../estimation', cooperation.estimationId  ]" >{{cooperation.estimationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cooperation', cooperation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cooperation/'+ cooperation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cooperation/'+ cooperation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="cooperation && cooperation.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
