<div>
    <h2>
        <span jhiTranslate="tnApp.drawing.home.title">Drawings</span>
        <button class="btn btn-primary float-right jh-create-entity create-drawing"
                [routerLink]="['/drawing-new']">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" jhiTranslate="tnApp.drawing.home.createLabel">
            Create new Drawing
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <!--<div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch" placeholder="{{ 'tnApp.drawing.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>-->
    <div class="row">
        <div class="col-md-4">
            <!--<label>Numer rys.</label>-->
            <input type="text" class="form-control" name="filterDrawingNumber" [(ngModel)]="drawingFilter.number" placeholder="Numer rys.">

        </div>
        <div class="col-md-4">
            <!--<label>Nazwa</label>-->
            <input type="text" class="form-control" name="filterDrawingName" [(ngModel)]="drawingFilter.name" placeholder="Nazwa">
        </div>
        <div class="col-md-4">
            <label>&nbsp;</label>
            <button class="btn btn-outline-dark" type="button" (click)="loadAll()"><span class="fa fa-search"></span> Filtruj</button>
            <button class="btn btn-outline-dark" type="button" (click)="clearFilterAndLoadAll()"><span class="fa fa-trash-o"></span> Wyczyść filtr</button>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="drawings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="number"><span>Numer rys.</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span>Nazwa</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let drawing of drawings ;trackBy: trackId">
                <td><a [routerLink]="['../drawing', drawing.id ]">{{drawing.id}}</a></td>
                <td>{{drawing.number}}</td>
                <td>{{drawing.name}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../drawing', drawing.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['../drawing', drawing.id , 'edit' ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'drawing/'+ drawing.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="drawings && drawings.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
