<form name="editForm" role="form" novalidate #editForm="ngForm">

    <div>
        <h4>
            Dodaj/Edytuj pozycje wyceny

        </h4>
        <jhi-alert></jhi-alert>
        <a class="btn btn-sm" (click)="isCollapsed = !isCollapsed" style="height: 14px;width: 10px;padding: 2px"
           [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            <span *ngIf="isCollapsed" class="fa fa-expand"></span><span *ngIf="!isCollapsed"
                                                                        class="fa fa-compress"></span>
        </a> <span style="margin-left: 20px" class="text-danger" *ngIf="editForm.dirty">* istnieją niezapisane zmiany</span>
        <div [ngbCollapse]="isCollapsed" id="collapseExample">
            <div class="row" style="margin-top: 10px">
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Dane zlecenia</h5>

                            <div class="row">
                                <div class="col-12">Nr zlecenia: <strong>{{order.internalNumber}}</strong></div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    Utworzone przez: <strong>{{order.createdBy}}</strong>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <i class="fa fa-calendar"></i>
                                    <strong>{{order.createdAt|date:'dd-MMMM-yyyy'}}</strong>
                                    &nbsp; &nbsp;
                                    <i class="fa fa-clock-o"></i> <strong>{{order.createdAt|date:'HH:mm'}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5>Dane detalu</h5>

                            <div class="row">
                                <div class="col-12">
                                    <a (click)="openDrawingCardModal()" [routerLink]="">Rysunek:</a>
                                    <a (click)="openModal(content)" [routerLink]=""><strong>{{estimation.itemNumber}}</strong></a>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    Nazwa: <strong>{{estimation.itemName}}</strong>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">Ilość zam: <strong>{{estimation.amount}} szt</strong></div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5>Dane wyceny</h5>

                            <div class="row">
                                <div class="col-12">
                                    Utworzył: <a (click)="openModal(content)"><strong>{{estimation.createdBy}}</strong></a>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">&nbsp;<div></div>
                                    <!--Nazwa: <strong>{{estimation.description}}</strong>-->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <i class="fa fa-calendar"></i>
                                    <strong>{{estimation.createdAt|date:'dd-MMMM-yyyy'}}</strong>
                                    &nbsp; &nbsp;
                                    <i class="fa fa-clock-o"></i> <strong>{{estimation.createdAt|date:'HH:mm'}}</strong>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-12">
                    <div class="card card-body bg-light">
                        <div class="row">

                            <div class="col-md-3">
                                <label>Gatunek materiału</label>
                                <input class="form-control" name="materialType" [(ngModel)]="estimation.materialType" required/>
                                <div [hidden]="!(editForm.controls.materialType?.dirty && editForm.controls.materialType?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.materialType?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Materiał</label>
                                <input class="form-control" name="material" [(ngModel)]="estimation.material" required/>
                                <div [hidden]="!(editForm.controls.material?.dirty && editForm.controls.material?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.material?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-3"><label>Cena materiału [PLN]/SZT <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"
                                                                                     *ngIf="!estimation.materialPrice || estimation.materialPrice===0"></i></label>
                                <input class="form-control" name="material_price" [(ngModel)]="estimation.materialPrice"
                                       currencyMask
                                       [options]="currencyMaskOpt"/>
                            </div><!-- currencyMask  -->
                            <div class="col-md-3"><label>Masa [kg]</label>
                                <input name="weight" class="form-control" type="number" [(ngModel)]="estimation.mass"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br/>


    <ngb-tabset>
        <ngb-tab title="Operacje ({{estimation.operations.length}})" id="1">
            <ng-template ngbTabContent>


                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nr oper.</th>
                        <!--<th>Id:</th>-->
                        <th>Maszyna:</th>
                        <th style="width: 50%;">Opis operacji:</th>
                        <th>Planowany czas wyk.&nbsp;[h]:</th>
                        <th>Koszt [PLN]</th>
                        <!--                <th>Rzeczywisty czas wyk.&nbsp;[h]:</th>
                                        <th>Koszt [PLN]</th>-->


                        <th></th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let operation of estimation.operations;let rowIndex=index">
                        <td>
                            <input type=number class="form-control" [(ngModel)]="operation.sequenceNumber"
                                   name="operation_sequence_nb_{{rowIndex}}" style="width: 70px;" required/><!---->
                        </td>

                        <td style="width: 250px;">               <!-- <input class="form-control" />-->
                            <select class="form-control" id="field_machine_{{rowIndex}}" name="machine{{rowIndex}}"
                                    [(ngModel)]="operation.machine" (ngModelChange)="calculateOperationsTotalCost()"
                                    required [compareWith]="compareMachine" #machine="ngModel">

                                <option *ngFor="let machineOpt of machines; trackBy: trackMachineById" [ngValue]="machineOpt">
                                    {{machineOpt.name}}

                                </option>
                            </select>

                            <div [hidden]="!(machine?.dirty && machine?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!machine?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>

                        </td><!-- [ngbTypeahead]="search"-->
                        <td><textarea class="form-control" autosize="" rows="1" [(ngModel)]="operation.description"
                                      name="operation_dscription_{{rowIndex}}" required #operatoin_description="ngModel"></textarea>

                            <div [hidden]="!(operatoin_description.dirty && operatoin_description.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!operatoin_description.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>

                        </td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="operation.estimatedTime"
                                   name="operation_estimatedTime_{{rowIndex}}"
                                   (ngModelChange)="calculateOperationsTotalCost()" required #operaton_estimatedTime="ngModel"/>
                            <div [hidden]="!(operaton_estimatedTime?.dirty &&operaton_estimatedTime?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!operaton_estimatedTime?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </td>

                        <td>

                            <input *ngIf="operation.estimatedTime!=null && operation.machine!=null;else other_content"
                                   class="form-control"
                                   disabled
                                   value="{{(operation.estimatedTime*operation.machine.workingHourPrice)|currency:'PLN':'code'}}"/>
                            <ng-template #other_content><input class="form-control" disabled/>

                        </td>

                        <td>
                            <button type="button" class="btn btn-outline-dark" (click)="onDeleteRow(rowIndex);"><span
                                class="fa fa-remove"></span></button>
                        </td>
                    </tr>


                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-right strong">Suma:</td>
                        <td class="strong font-weight-bold">{{sumOfWorkingHours|number:'1.0-2'}} [rbh]</td>
                        <td class="strong font-weight-bold">{{operationsTotalCost|currency:'PLN':'code'}}</td>
                        <td></td>
                    </tr>
                    </tfoot>

                </table>
                <div>
                    <button type="button" class="btn btn-outline-dark" (click)="addOperation();" style="width: 200px"><i
                        class="fa fa-plus"></i>
                        Dodaj operację
                    </button>
                </div>
                <div style="margin-top:10px">
                    <jhi-technology-card-finder (onChooseTechnologyCard)="insertOperationFromTechnologyCard($event)"></jhi-technology-card-finder>

                    <span class="pull-right">
                    <button type="button" class="btn btn-outline-dark" (click)="exportToTechnologyCard()"
                            [disabled]="editForm.form.invalid || isExporting"
                            style="width: 200px"><i class="fa fa-save"></i> Eksportuj kartę techn.</button>
                </span>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Części handlowe ({{estimation.commercialParts.length}})" id="2">
            <ng-template ngbTabContent>

                <table class="table table-striped">
                    <thead>


                    <tr>
                        <th>Poz.</th>
                        <!--<th>Id:</th>-->
                        <th>Nazwa:</th>
                        <th>Ilość:</th>
                        <th>Jedn.:</th>
                        <th>Cena [PLN]</th>
                        <th>Wartość [PLN]</th>
                        <!--                <th>Rzeczywisty czas wyk.&nbsp;[h]:</th>
                                        <th>Koszt [PLN]</th>-->


                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let commercialPart of estimation.commercialParts;let rowIndex=index">
                        <td><input class="form-control" value="{{(rowIndex+1)}}" disabled style="width: 50px;"/></td>

                        <td><input type="text" class="form-control" [(ngModel)]="commercialPart.name"
                                   name="commecialPart_name_{{rowIndex}}" required></td>
                        <td><input type="number" class="form-control" [(ngModel)]="commercialPart.amount"
                                   name="commecialpart_amount_{{rowIndex}}"
                                   (ngModelChange)="calculateCommercialPartsTotalCost()" required/></td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="commercialPart.unit"
                                   [ngbTypeahead]="searchUnit" name="commercialpart_unit_{{rowIndex}}"
                                   [inputFormatter]="formatter"
                                   [resultFormatter]="resultFormatter"
                                   [editable]="false" (selectItem)="onSelectItem($event)" required #comercialpart_unit="ngModel"/>
                            <div [hidden]="!(comercialpart_unit?.dirty && comercialpart_unit?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!comercialpart_unit?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </td>
                        <td><input currencyMask [options]="currencyMaskOpt" class="form-control"
                                   [(ngModel)]="commercialPart.price" name="commercialPart_price_{{rowIndex}}"
                                   (ngModelChange)="calculateCommercialPartsTotalCost()" required/></td>
                        <td>

                            <input class="form-control"
                                   value="{{(commercialPart.amount*commercialPart.price)|currency:'PLN':'code'}} "
                                   disabled
                                   *ngIf="commercialPart.amount!=null && commercialPart.price!=null;else other_content"/>

                            <ng-template #other_content><input class="form-control"

                                                               disabled value=""/></ng-template>
                        </td>

                        <td>
                            <button type="button" class="btn" (click)="onDeleteCommercialPart(rowIndex);">x</button>
                        </td>
                    </tr>


                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right strong">Suma:</td>
                        <td class="strong font-weight-bold">{{commercialPartsTotalCost|currency:'PLN':'code'}}</td>
                    </tr>
                    </tfoot>

                </table>
                <button type="button" class="btn" (click)="addCommercialPart();" style="width: 200px"><i
                    class="fa fa-plus"></i>
                    Dodaj
                </button>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Kooperacja ({{estimation.cooperationList.length}})" id="3">
            <ng-template ngbTabContent>

                <table class="table table-striped">
                    <thead>

                    <tr>
                        <th style="width: 60px;">Poz.</th>
                        <th style="width: 300px">Kontrahent:</th>
                        <th>Opis operacji:</th>
                        <th style="width: 100px">Ilość:</th>
                        <th style="width: 100px">Jedn.:</th>
                        <th style="width: 150px">Cena [PLN]</th>
                        <th style="width: 150px">Wartość [PLN]</th>
                        <th style="width: 60px;"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let cooperation of estimation.cooperationList;let rowIndex=index">
                        <td><input class="form-control" value="{{(rowIndex+1)}}" disabled style="width: 50px;"/></td>

                        <td><input type="text" class="form-control" [(ngModel)]="cooperation.counterparty"
                                   name="cooperation_counterparty_{{rowIndex}}" required></td>

                        <td><input type="text" class="form-control" [(ngModel)]="cooperation.name"
                                   name="cooperation_name_{{rowIndex}}" required></td>
                        <td><input type="number" class="form-control" [(ngModel)]="cooperation.amount"
                                   name="cooperation_amount_{{rowIndex}}"
                                   (ngModelChange)="calculateCooperationTotalCost()" required/></td>
                        <td>
                            <input type="text" class="form-control" value="SZT" disabled/>

                        </td>
                        <td>

                            <input currencyMask [options]="currencyMaskOpt" class="form-control"
                                   [(ngModel)]="cooperation.price" name="cooperation_price_{{rowIndex}}"
                                   (ngModelChange)="calculateCooperationTotalCost()" required/></td>
                        <td>

                            <input class="form-control"
                                   value="{{(cooperation.amount*cooperation.price)|currency:'PLN':'code'}} "
                                   disabled
                                   *ngIf="cooperation.amount!=null && cooperation.price!=null;else other_content"/>

                            <ng-template #other_content><input class="form-control" disabled value=""/></ng-template>
                        </td>

                        <td style="width: 60px">
                            <button type="button" class="btn btn-outline-dark" (click)="onDeleteCooperation(rowIndex);">x</button>
                        </td>
                    </tr>


                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right strong">Suma:</td>
                        <td class="strong font-weight-bold">{{cooperationTotalCost|currency:'PLN':'code'}}</td>
                    </tr>
                    </tfoot>

                </table>
                <button type="button" class="btn" (click)="addCooperation();" style="width: 200px"><i
                    class="fa fa-plus"></i>
                    Dodaj
                </button>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Uwagi " id="4">
            <ng-template ngbTabContent>


                <div class="row">
                    <div class="col-md-6" style="margin-top: 30px">
                        <table class="table table-striped">
                            <thead>
                            </thead>

                            <tbody>
                            <tr *ngFor="let remark of estimation.estimationRemarks">
                                <td>
                                    <div><strong>{{remark.remark}}</strong></div>
                                    <div class="small">{{remark.createdByName}} {{remark.createdAt|date:'dd-MM-yyyy HH:mm'}}
                                    </div>

                                </td>

                            </tr>
                            </tbody>
                            </tfoot>

                        </table>

                    </div>
                    <div class="col-md-6" style="margin-top: 5px">
                        <div class="row">
                            <div class="col-12">

                                <label for="estimation_remark_field">Dodaj nową uwagę:</label>
                                <textarea class="form-control text-area" name="estimation_remark"
                                          id="estimation_remark_field" [(ngModel)]="estimation.remark"></textarea>


                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="5">
            <ng-template ngbTabTitle>

                <span [ngClass]="{'badge badge-danger tab-danger-badge-size': !estimation.estimatedCost}">Podsumowanie kosztów</span>
            </ng-template>
            <ng-template ngbTabContent>


                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>LP.</th>
                                <th>Nazwa:</th>
                                <th>Wartość [PLN]</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Koszt materiału</td>
                                <td>{{estimation.materialPrice|currency:'PLN':'code'}}</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Koszt operacji</td>
                                <td>{{operationsTotalCost|currency:'PLN':'code'}}</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Koszt częsci handlowych</td>
                                <td>{{commercialPartsTotalCost|currency:'PLN':'code'}}</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Koszt kooperacji</td>
                                <td>{{cooperationTotalCost|currency:'PLN':'code'}}</td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr *ngIf="estimation.discount!==0">
                                <td></td>
                                <td class="text-right strong">Marża:</td>
                                <td class="strong font-weight-bold">
                                    {{calculateDiscount()|currency:'PLN':'code'}}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right strong">Suma:</td>
                                <td class="strong font-weight-bold">
                                    {{(calculateTotal()+calculateDiscount())|currency:'PLN':'code'}}
                                </td>
                            </tr>

                            </tfoot>

                        </table>
                    </div>
                    <div class="col-md-6" style="margin-top: 20px">

                        <div class="row">
                            <div class="col-md-5">
                                <label>Marża [%]</label>
                                <input type="number" class="form-control" [(ngModel)]="estimation.discount"
                                       name="final_discount" (ngModelChange)="calculateOperationsTotalCost()"/>
                            </div>
                            <!--</div>-->
                            <!--<div class="row" style="margin-top: 20px">-->
                            <div class="col-md-7">
                                <label>Cena dla klienta</label>
                                <div class="input-group">
                                    <input class="form-control" currencyMask [options]="currencyMaskOpt"
                                           [(ngModel)]="estimation.estimatedCost" name="final_cost"/>
                                    <span class="input-group-btn">
                             <button class="btn" type="button" (click)="clonePriceFromSummary()">Kopiuj cenę z podsumowania</button>
                                 </span>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-md-5">
                                <label>Typ terminu realizacji</label>
                                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="termOfRealzationType">
                                    <label ngbButtonLabel class="btn-outline-primary">
                                        <input ngbButton type="radio" value="RELATIVE" class="form-control">WZLGLĘDNY
                                    </label>
                                    <label ngbButtonLabel class="btn-outline-primary">
                                        <input ngbButton type="radio" value="ABSOLUTE" class="form-control"> BEZWGZGLĘDNY
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-7" *ngIf="termOfRealzationType==='ABSOLUTE'">
                                <label>Szacowana data realizacji</label>
                                <div class="form-group">
                                    <!--<label class="form-control-label" jhiTranslate="tnApp.order.closeDate" for="field_closeDate">Close Date</label>-->
                                    <div class="input-group">
                                        <input id="field_closeDate" type="text" class="form-control"
                                               name="estimation_realization_date"
                                               ngbDatepicker #realizationDateDp="ngbDatepicker"
                                               [(ngModel)]="estimation.estimatedRealizationDate"
                                               [disabled]="isReadOnly" [required]="estimation.estimatedCost">

                                        <span class="input-group-btn">
                                         <button type="button" class="btn btn-default" (click)="realizationDateDp.toggle()"
                                                 (keyup)="realizationDateDp.toggle()" [disabled]="isReadOnly"><i class="fa fa-calendar"></i></button>
                                        </span>

                                    </div>
                                </div>
                                <div [hidden]="!(editForm.controls.estimation_realization_date?.dirty && editForm.controls.estimation_realization_date?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.estimation_realization_date?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>

                            </div>
                            <!--</div>-->
                            <!--<div class="row">-->
                            <div class="col-md-7" *ngIf="termOfRealzationType==='RELATIVE'">
                                <label>Szacowany czas realizacji po otrzymaniu zamówienia</label>
                                <div class="input-group">
                                    <input class="form-control" id="filed_executionTimeValue" type="number" [required]="estimation.estimatedCost"
                                           [(ngModel)]="estimation.executionTimeValue" name="executionTimeValue"/>

                                    <span class="input-group-addon" style="padding: 0; min-width: 200px">
                                     <select class="form-control" id="filed_executionTimeUnit" [(ngModel)]="estimation.executionTimeUnit" name="execution_Time_Unit">
                                            <option value="WEEKS">TYGODNIE</option>
                                            <option value="DAYS">DNI</option>
                                    </select>
                                    </span>
                                </div>
                                <div [hidden]="!(editForm.controls.executionTimeValue?.dirty && editForm.controls.executionTimeValue?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.executionTimeValue?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>


    <div class="text-center" style="margin-top: 30px">
        <button type="button" class="btn btn-outline-danger" (click)="previousState()"><span class="fa fa-arrow-left"></span> Powrót</button>

        <button class="btn btn-outline-primary" type="button" [disabled]="editForm.form.invalid || isSaving"
                (click)="openSaveAndCloseModal()">
            <span class="fa fa-save"></span>&nbsp;Zapisz
        </button>


    </div>
    </div>
</form>




<ng-template #rt let-r="result" let-t="term">
    {{r.name}}
</ng-template>

<p-dialog header="Załączniki" [(visible)]="display" modal="modal" [responsive]="true" [width]="800" [minWidth]="600" [minY]="70" [positionTop]="40">
    <span>
        <h5> Rusunek: {{estimation.drawing.number}} {{estimation.drawing.name}}</h5>
        <tn-file-uploader (notify)="onFileArrayChange($event);" [isViewOnly]="true" [attachments]="estimation.drawing.attachments"></tn-file-uploader>
    </span>
    <p-footer>
        <button type="button" class="btn btn-secondary" icon="fa-close" (click)="display=false">Zamknij</button>
    </p-footer>
</p-dialog>

