
<div *ngIf="client">
    <h2><span jhiTranslate="tnApp.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tnApp.client.name">Name</span></dt>
        <dd>
            <span>{{client.name}}</span>
        </dd>
        <dt><span jhiTranslate="tnApp.client.shortcut">Shortcut</span></dt>
        <dd>
            <span>{{client.shortcut}}</span>
        </dd>
        <dt><span >Adres</span></dt>
        <dd>
            <span>{{client.address}}</span>
        </dd>
        <dt><span >Nip</span></dt>
        <dd>
            <span>{{client.nip}}</span>
        </dd>
        <dt><span >Nr zlecenia rocznego</span></dt>
        <dd>
            <span>{{client.annualOrderNumber}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_MANAGER']"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
