<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientLabel" jhiTranslate="tnApp.client.home.createOrEditLabel">Create or edit a Client</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!client.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="client.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tnApp.client.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="client.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tnApp.client.shortcut" for="field_shortcut">Shortcut</label>
            <input type="text" class="form-control" name="shortcut" id="field_shortcut"
                   [(ngModel)]="client.shortcut"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_address">Adres</label>
            <input type="text" class="form-control" name="address" id="field_address"
                   [(ngModel)]="client.address"/>

        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nip">Nip</label>
            <input type="text" class="form-control" name="nip" id="field_nip" [(ngModel)]="client.nip" maxlength="15" #nipInput="ngModel"/>

            <div *ngIf="nipInput.dirty && nipInput.invalid">
                <small class="form-text text-danger"
                       *ngIf="nipInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                       translateValues="{max: 15}">
                    This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_annualOrderNumber">Numer zlecenia rocznego</label>
            <input type="text" class="form-control" name="annualOrderNumber" id="field_annualOrderNumber" [(ngModel)]="client.annualOrderNumber" maxlength="20" #annualOrderNumberInput="ngModel"/>

            <div *ngIf="annualOrderNumberInput.dirty && annualOrderNumberInput.invalid">
                <small class="form-text text-danger"
                       *ngIf="annualOrderNumberInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                       translateValues="{max: 15}">
                    This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">


            <label class="form-control-label" for="field_printSinglePdfSummaryPerOrderItem">Drukuj podsumowanie zlecenia na osobnej stronie</label>
            <input type="checkbox" class="form-control" name="printSinglePdfSummaryPerOrderItem" id="field_printSinglePdfSummaryPerOrderItem"
                   [(ngModel)]="client.printSinglePdfSummaryPerOrderItem"/>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
