<form name="editForm" role="form" novalidate (ngSubmit)="onWorkingCopyBtnClick()" #editForm="ngForm">

    <div>
        <h2>
            <!--Dodaj/Edytuj Zlecenie-->
            Zamówienie: <strong>{{order.internalNumber}}</strong>
        </h2>
        <br/>
        <fieldset>
            <div class="row">

                <div class="col-lg-3">
                    <label for="title_external_number_field">Nr ref. klienta</label>
                    <input type="text" id="title_external_number_field" class="form-control" name="title"
                           value="{{order.referenceNumber}}" disabled/>
                </div>
                <div class="col-lg-3">
                    <label for="title_field">Tytuł</label>
                    <input type="text" id="title_field" class="form-control" name="title" value="{{order.name}}"
                           disabled/>
                </div>
                <!--<div class="col-lg-2">-->
                    <!--<label for="sap_number_field">Nr SAP</label>-->
                    <!--<input type="text" id="sap_number_field" class="form-control" name="sap_number"-->
                           <!--value="{{order.sapNumber}}" disabled/>-->

                <!--</div>-->
                <div class="form-group col-lg-3">
                    <label for="field_client">Klient</label>
                    <input type="text" id="field_client" class="form-control" name="client"
                           value="{{order.clientShortcut}}" disabled/>

                </div>
                <div class="col-lg-3">
                    <label for="description_field">Opis dod.</label>
                    <input type="text" id="description_field" name="description" value="{{order.description}}"
                           class="form-control" disabled/>
                </div>

            </div>
            <br/>
            <br/>

            <ngb-tabset>
                <ngb-tab title="Pozycje wyceny" id="1">
                    <ng-template ngbTabContent>
                        <div class="row">

                            <div class="col-md-12">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>LP</th>
                                        <th>Nazwa:</th>
                                        <th>Nr rys:</th>
                                        <th>Ilość:</th>
                                        <th>Jedn:</th>
                                        <th>Pliki:</th>
                                        <th>Cena/Szt</th>
                                        <th>Termin wyk.</th>
                                        <th>Uwagi</th>
                                        <th>Nr sap</th>
                                        <th></th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr *ngFor="let estimation of order.estimations;let rowIndex = index">
                                        <td>{{rowIndex+1}}</td>
                                        <!--<td><input type="text" [(ngModel)]="estimation.id" class="form-control"/></td>-->
                                        <td>{{estimation.itemName}}</td>
                                        <td style="max-width: 150px;">
                                            {{estimation.itemNumber}}
                                        </td>
                                        <td style="max-width: 80px">{{estimation.amount}}</td>
                                        <td> SZT</td>

                                        <td style="width: 100px">


                                            <!--</ss-multiselect-dropdown>-->
                                            <button class="btn btn-outline-dark" type="button"
                                                    (click)="openModal(content,rowIndex)">
                                                <strong *ngIf="estimation.drawing">{{estimation.drawing.attachments.length}}</strong>
                                                <strong *ngIf="!estimation.drawing">0</strong>
                                                <i class="fa fa-paperclip"></i>
                                            </button>

                                        </td>
                                        <td>{{estimation.estimatedCost|currency:'PLN'}}</td>
                                        <td>{{estimation.estimatedRealizationDate|date:'dd-MM-yyyy'}}</td>
                                        <td class="right">

                                            <tn-estimation-remark [estimationRemarks]="estimation.estimationRemarks"
                                                                  *ngIf="estimation.estimationRemarks!=null && estimation.estimationRemarks.length>0"></tn-estimation-remark>
                                        </td>
                                        <td><input type="text" class="form-control" [(ngModel)]="estimation.sapNumber" required *ngIf="order.orderStatus==='CREATING_SAP_ORDER'" name="sapNumber_{{rowIndex}}">
                                          <span *ngIf="order.orderStatus!=='CREATING_SAP_ORDER'">  {{estimation.sapNumber}}</span>
                                        </td>
                                        <td>
                                            <label class="custom-control custom-checkbox mb-3 mr-sm-3 mb-sm-0 tn-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="checked_{{rowIndex}}" [(ngModel)]="estimation.checked">
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                            <!--<input type="checkbox" [(ngModel)]="estimation.checked" name="checked_{{idx}}" class="form-control checkbox"></td>-->
                                        </td>
                                        <td>

                                        <!--<button type="button" class="btn btn-outline-dark" *ngIf="order.orderStatus==='CREATING_SAP_ORDER'"-->
                                                <!--&gt;Dodaj nr zlec SAP</button>-->

                                        <button type="button" class="btn btn-outline-dark" [routerLink]="['/orders-in-production/technology', estimation.id,'edit']"
                                                *ngIf="order.orderStatus==='TECHNOLOGY_VERIFICATION'"
                                                >Edytuj technologię</button>
                                        <button type="button" class="btn btn-outline-dark" [routerLink]="['/orders-in-production/emergency-order-technology', estimation.id,'edit']"
                                                *ngIf="order.orderStatus==='TECHNOLOGY_CREATION'"
                                                >Utwórz technologię</button>

                                        <!--<button class="btn btn-primary float-right jh-create-entity create-estimation" routerLink='/estimation-new'>-->

                                    </td>
                                    </tr>


                                    </tbody>

                                </table>
                            </div>


                        </div>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </fieldset>

        <div class="text-center">

            <button type="button" class="btn btn-outline-danger" (click)="previousState()"><span class="fa fa-arrow-left"></span> Powrót</button>
            <button type="button" class="btn btn-outline-primary" (click)="printTechnologyCard()" *ngIf="order.orderStatus==='TECHNOLOGY_VERIFICATION' || order.orderStatus==='IN_PRODUCTION' || order.orderStatus==='TECHNOLOGY_CREATION'">
                <span class="fa fa-print"></span>
                Drukuj karty obiegowe</button>
            <button type="button" class="btn btn-outline-primary" (click)="sendToProduction()"  *ngIf="order.orderStatus==='TECHNOLOGY_VERIFICATION'  || order.orderStatus==='TECHNOLOGY_CREATION'">
                <span class="fa fa-arrow-circle-right"></span>
                Wyślij do produkcji</button>
            <button type="button" class="btn btn-outline-primary" (click)="saveSapNumbers()" *ngIf="order.orderStatus==='CREATING_SAP_ORDER'"   [disabled]="editForm.form.invalid || isSaving">
                <span class="fa fa-save"></span>
                Zapisz </button>
        </div>
    </div>

</form>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Załączniki</h4>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <tn-file-uploader (notify)="onFileArrayChange($event);"
                          [attachments]="order.estimations[clickedRow].drawing.attachments"
                          [isViewOnly]="true"></tn-file-uploader>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
