<div>
    <h2>
        <span>{{title}}</span>
        <button class="btn btn-primary float-right create-order" [routerLink]="['/new-order']">
            <!--"['/', { outlets: { popup: ['order-new'] } }]">-->
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down">
            Nowe zapytanie ofertowe
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <!--<div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tnApp.order.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>-->

    <!--    <div class="card">

            <div class="card-body">-->
    <div class="row" style="margin-top: 40px">
        <div class="col-md-2">
            <!--<label>Numer rys.</label>-->
            <input type="text" class="form-control" name="filterInternalNumber"
                   [(ngModel)]="orderFilter.internalNumber" placeholder="Numer wewn."
                   (keydown)="onEnterClickFilter($event)">

        </div>
        <div class="col-md-2">
            <!--<label>Nazwa</label>-->
            <input type="text" class="form-control" name="filterReferenceNumber"
                   [(ngModel)]="orderFilter.referenceNumber" placeholder="Numer zamówienia klienta"
                   (keydown)="onEnterClickFilter($event)">
        </div>
        <div class="col-md-2">
            <!--<label>Nazwa</label>-->
            <input type="text" class="form-control" name="filterClientName" [(ngModel)]="orderFilter.clientName"
                   placeholder="Nazwa klienta" (keydown)="onEnterClickFilter($event)">
        </div>

        <div class="col-md-2">
            <!--<label class="form-control-label" jhiTranslate="tnApp.order.orderStatus" for="field_orderStatus">Order Status</label>-->
            <select class="form-control" name="orderStatus" [(ngModel)]="orderFilter.orderStatus"
                    id="field_orderStatus" (keydown)="onEnterClickFilter($event)">
                <option value="undefined" disabled selected hidden>Status zamówienia</option>
                <option value="null" disabled selected hidden>Status zamówienia</option>
                <option value="WORKING_COPY">KOPIA ROBOCZA</option>
                <!--jhiTranslate="tnApp.OrderStatus.FOR_ESTIMATION"-->
                <option value="IN_ESTIMATION">W TRAKCIE WYCENY</option>
                <option value="SENT_OFFER_TO_CLIENT">OFERTA UKOŃCZONA</option>
                <option value="CREATED_PURCHASE_ORDER">ZAMÓWIENIE UTWORZONE</option>
            </select>
        </div>

        <div class="form-group col-md-2">
            <!--<my-date-picker locale="pl"  [(ngModel)]="orderFilter.validFrom" placeholder="Utworzono po:"></my-date-picker>-->
            <!--<label class="form-control-label" jhiTranslate="tnApp.order.closeDate" for="field_closeDate">Close Date</label>-->
            <div class="input-group">
                <input type="text" class="form-control"
                       name="validFromFilter"
                       [showWeekdays]="true"
                       [(ngModel)]="orderFilter.validFrom" placeholder="Utworzono po:" ngbDatepicker #realizationDateDp="ngbDatepicker"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="realizationDateDp.toggle()"
                            (keyup)="realizationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-2">
            <!--<my-date-picker locale="pl"  [(ngModel)]="orderFilter.validTo" placeholder="Utworzono przed:"></my-date-picker>-->
            <!--<my-date-picker locale="pl"  [(ngModel)]="orderFilter.validTo"  placeholder="Utworzono przed:"></my-date-picker>-->
            <!--<label class="form-control-label" jhiTranslate="tnApp.order.closeDate" for="field_closeDate">Close Date</label>-->
            <div class="input-group">
                <input type="text" class="form-control" name="validToFilter" ngbDatepicker #createdToEnd="ngbDatepicker" [showWeekdays]="true"
                       [(ngModel)]="orderFilter.validTo" placeholder="Utworzono przed:"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdToEnd.toggle()"
                            (keyup)="createdToEnd.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-4">
            <label>&nbsp;</label>
            <button class="btn btn-outline-dark" type="button" (click)="loadAll()"><span
                class="fa fa-search"></span> Filtruj
            </button>
            <button class="btn btn-outline-dark" type="button" (click)="clearFilterAndLoadAll()"><span
                class="fa fa-trash-o"></span> Wyczyść filtr
            </button>
        </div>
        <!--<div class="col-md-2"><div class="input-group">
            <input class="form-control "  placeholder="data od" ngx-mydatepicker name="mydate"
                   [(ngModel)]="model" #dp="ngx-mydatepicker"  (inputFieldChanged)="onInputFieldChanged($event)" [options]="myOptions"
            (dateChanged)="onDateChanged($event)" [ngClass]="{'is-invalid':!validDate}">

            <span class="input-group-btn">
            &lt;!&ndash;<button type="button" class="btn btn-default" (click)="dp.clearDate()">&ndash;&gt;
                &lt;!&ndash;<i class="fa fa-remove"></i>&ndash;&gt;
                &lt;!&ndash;</button>&ndash;&gt;
            <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                <i class="fa fa-calendar"></i>
            </button>
        </span>
        </div></div>-->
    </div>


</div>
<!--</div></div>-->

<br/>
<div class="table-responsive" *ngIf="orders">
    <table class="table table-striped">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span
                class="fa fa-sort"></span></th>
            <th jhiSortBy="internalNumber"><span>Nr wewnętrzny</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="referenceNumber"><span>Nr Klienta</span> <span class="fa fa-sort"></span></th>

            <!--<th jhiSortBy="orderType"><span jhiTranslate="tnApp.order.orderType">Order Type</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="name"><span jhiTranslate="tnApp.order.name">Name</span> <span
                class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span>Utworzył</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdAt"><span>Data utworzenia</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="closeDate"><span jhiTranslate="tnApp.order.closeDate">Close Date</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="orderStatus"><span jhiTranslate="tnApp.order.orderStatus">Order Status</span>
                <span class="fa fa-sort"></span></th>
            <th><span>Utworzone zamówienia</span></th>
            <th jhiSortBy="clientId"><span jhiTranslate="tnApp.order.client">Client</span> <span
                class="fa fa-sort"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders ;trackBy: trackId">
            <td><a [routerLink]="['../order', order.id ]">{{order.id}}</a></td>
            <td><a [routerLink]="['../order', order.id ]">{{order.internalNumber}}</a></td>
            <td>{{order.referenceNumber}}</td>
            <!--<td jhiTranslate="{{'tnApp.OrderType.' + order.orderType}}">{{order.orderType}}</td>-->
            <td>{{order.name}}</td>
            <td style="min-width: 150px"><span *ngIf="order.createdBy.lastName!==order.createdBy.firstName">{{order.createdBy.firstName}}</span> {{order.createdBy.lastName}}</td>

            <td>{{order.createdAt|date:'dd-MM-yyyy'}}</td>
            <!--<td>{{order.closeDate | date:'mediumDate'}}</td>-->
            <td [ngClass]="{'h5':order.orderStatus==='CREATED_PURCHASE_ORDER'}">
                <span [ngClass]="{'badge badge-primary':order.orderStatus==='CREATED_PURCHASE_ORDER'}"
                      jhiTranslate="{{'tnApp.OrderStatus.' + order.orderStatus}}">{{order.orderStatus}}</span></td>
            <td>
                <div *ngFor="let referenceOrder of order.referenceOrders">
                    <a [routerLink]="['../purchase-order/'+referenceOrder.refOrderId]">{{referenceOrder.refInternalNumber}}</a>
                </div></td>
            <td>
                <div *ngIf="order.clientId">
                    <a [routerLink]="['../client', order.clientId  ]">{{order.clientShortcut}}</a>
                </div>
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit" *ngIf="order.orderStatus=='WORKING_COPY' || currentAccount.authorities.indexOf('ROLE_ADMIN')>-1"
                            [routerLink]="[ '../order', order.id , 'edit']"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-list"></span>
                        <span class="hidden-md-down">Edytuj</span>
                    </button>
                    <button type="submit" *ngIf="order.orderStatus=='WORKING_COPY' || currentAccount.authorities.indexOf('ROLE_MANAGER')>-1"
                            [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                        <span class="fa fa-remove"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                    </button>


                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div *ngIf="orders && orders.length">
    <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                        (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>
</div>

<!--<my-date-picker locale="pl" [placeholder]="data" [options]="" ></my-date-picker>-->
<!--<tn-date-picker></tn-date-picker>-->

<!--<ngbd-datepicker-i18n></ngbd-datepicker-i18n>-->
<!--<ngbd-datepicker-i18n></ngbd-datepicker-i18n>-->
<!--<button class="btn btn-outline-dark" type="button" (click)="exportAsExcelFile()"><span class="fa fa-file-excel-o"></span> exportuj do excel</button>-->

