
<div *ngIf="machine">
    <h2><span jhiTranslate="tnApp.machine.detail.title">Machine</span> {{machine.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tnApp.machine.name">Name</span></dt>
        <dd>
            <span>{{machine.name}}</span>
        </dd>
        <dt><span jhiTranslate="tnApp.machine.shortcut">Shortcut</span></dt>
        <dd>
            <span>{{machine.shortcut}}</span>
        </dd>
        <dt><span jhiTranslate="tnApp.machine.workingHourPrice">Working Hour Price</span></dt>
        <dd>
            <table class="table table-striped">
                <tr>
                    <th>Od</th>
                    <th>Do</th>
                    <th>Cena roboczogodz.</th>
                </tr>
                <tr *ngFor="let machineDtl of machineDtls">
                    <td>{{machineDtl.validFrom|date:'dd-MM-yyyy'}}</td>
                    <td>{{machineDtl.validTo|date:'dd-MM-yyyy'}}</td>
                    <td>{{machineDtl.workingHourPrice|currency:'PLN'}}</td>
                </tr>
            </table>

            <span>{{machine.workingHourPrice}}</span>
        </dd>
        <!--<dt><span jhiTranslate="tnApp.machine.operations">Operations</span></dt>-->

    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'machine/'+ machine.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
