<div class="row ">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-6">
        <h1 class="display-4" jhiTranslate="home.title">CP FIP Oddział Narzędziownia</h1>
        <p class="lead"></p>
        <br/>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
             <span *ngIf="account"> <span jhiTranslate="home.logged.message"> You are logged in as user  </span><strong>{{account.firstName}} {{account.lastName}}</strong>.</span>
            </div>


        </div>


    </div>
    <div class="col-md-3"></div>
</div>
