
<div class="input-group">
    <input class="form-control "  placeholder="data od" ngx-mydatepicker name="mydate"
           [(ngModel)]="dateValue" #dp="ngx-mydatepicker" [options]="myOptions" (inputFieldChanged)="onInputFieldChanged($event)"
           [ngClass]="{'is-invalid':!validDate}"  (dateChanged)="onDateChanged($event)" >     <!--   -->

    <span class="input-group-btn">
    <!--<button type="button" class="btn btn-default" (click)="dp.clearDate()">
        <i class="fa fa-remove"></i>
        </button>-->
    <button type="button" class="btn btn-outline-dark" (click)="dp.toggleCalendar()">
        <i class="fa fa-calendar"></i>
    </button>
</span>
</div>
