@import 'bootstrap-variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body, h1, h2, h3, h4 {
    font-weight: 300;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.content-min {
    min-height: calc(100vh - 125px);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */
.progress-custom {
    //background-color: #aaa;
    //-webkit-box-shadow: none;
    //box-shadow: none;
    background: -webkit-linear-gradient(top, rgba(212, 210, 210, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(212, 210, 210, 1) 0%, rgba(245, 245, 245, 1) 100%);
    height: 30px;

}

.tn-checkbox {
    transform: scale(1.5);
}

.progress-bar-custom {
    height: 30px;
    background: rgba(66, 139, 202, 1);
    background: -webkit-linear-gradient(top, rgba(38, 79, 115, 1) 0%, rgba(66, 139, 202, 1) 100%);
    background: linear-gradient(to bottom, rgba(38, 79, 115, 1) 0%, rgba(66, 139, 202, 1) 100%);
}

.progress-bar-custom-100-prc {
    height: 30px;
    background: rgb(0, 184, 23);
    background: -webkit-linear-gradient(top, rgb(5, 115, 24) 0%, rgb(7, 201, 0) 100%);
    background: linear-gradient(to bottom, rgb(0, 115, 6) 0%, rgb(1, 180, 20) 100%);
}
.popover{
    max-width:400px;
}
//.my-table-class{
//    width: 100%;
//    background-color: #28a745;
//}



.mydp .selection,
.mydp .weekdaytitle,
.mydp .monthinput,
.mydp .yearinput {
    font-weight: normal;
}
.mydp .weekdaytitle {
    color: #555;
}
.mydp,
.mydp .selectiongroup,
.mydp .selection,
.mydp .selector {
    border-radius: 4px;
}
.mydp .header {
    border-radius: 4px 4px 0 0;
}
.mydp .caltable {
    border-radius: 0 0 4px 4px;
}
.mydp .caltable tbody tr:nth-child(6) td:first-child {
    border-bottom-left-radius: 4px;
}
.mydp .caltable tbody tr:nth-child(6) td:last-child {
    border-bottom-right-radius: 4px;
}
.mydp .btnpicker {
    border-radius: 0 2px 2px 0;


}

.main-page-background {
    background: url("../../content/images/tlo.jpg") no-repeat;
    background-size: cover;
}

.tab-danger-badge-size {
    font-size: large;
}

.tn-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.tn-link :hover{
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
.operations-list-modal{
    width: 600px;
}
